$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// your own css/scss
.bg-1 { 
    background-image: url(/images/R35.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
      color: #ffffff;
     
  }
  .bg-2 { 
      background-image: url(/images/s13_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: transparent;
 
}

.navbar-inverse .navbar-brand {
    color: #ffffff
}
.navbar .nav > li > a {
    color: #ffffff
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
// your own css/scss ends
